@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}

.main {
  /* ; */
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tags {
  display: "flex";
  flex-wrap: "wrap";
  width: "100%";
  margin-top: "7%";
  box-sizing: "border-box";
}

.img-card {
  object-fit: "cover";
  width: "100%";
}

.paragraph {
  text-align: "justify";
  font-size: "12px";
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 940px;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.card {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0.7em;
  overflow: hidden;
  min-width: 300px;
  min-height: 375px;
  display: flex;
  flex-direction: column;
}
.card:hover,
.card:focus {
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.card-text {
  /* color: var(--darkblue); */
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  text-align: justify;
  transition: all 0.2s ease-in-out;
}

.card:hover .card:focus {
  transform: scale(1.05);
  /* width: 305px;
  min-height: 385px; */
  box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.35);
}

.card-header img {
  width: 100%;
  height: 165px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 7px 20px 10px 20px;
  min-height: 245px;
}
.tag {
  background-color: #ccc;
  color: #fff;
  border-radius: 50px;
  font-size: 11px;
  margin-right: 4px;
  margin-top: 6px;
  /* margin: 0; */
  padding: 2px 10px;
  text-transform: uppercase;
}
.tag-teal {
  background-color: #92d4e4;
}
.tag-purple {
  background-color: #3d1d94;
}
.tag-pink {
  background-color: #c62bcd;
}
.card-body h4 {
  margin: 10px 0;
}
.card-body p {
  font-size: 14px;
  margin: 0 0 20px 0;
  font-weight: 500;
  color: rgb(70, 68, 68);
}
.user {
  display: flex;
  margin-top: auto;
}
.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #888785;
}

input {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type="search"] {
  padding: 9px 10px 9px 32px;
  width: 200px;
  background: #fff
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
input[type="search"]:focus {
  font-family: "Open Sans", sans-serif;
  border-color: "blue";
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.udlite-badge-bestseller {
  background-color: #eceb98;
  color: #3d3c0a;
  border-radius: 25px;
}

.udlite-badge {
  display: inline-block;
  width: 28%;
  margin-left: 20px;
  margin-bottom: 5%;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
}

.udlite-heading-xs {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 0.8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 100px;
  transition: all 0.3s ease-in-out;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 3px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.udlite-btn {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  border-radius: 8px;
  width: 82%;
  height: 35px;
  padding: 0 1.2rem;
  justify-content: center;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
}

.udlite-btn-brand {
  background-color: #a435f0;
}

.udlite-text-color {
  color: #fff;
}

.udlite-btn-brand:hover {
  background-color: #8710d8;
}

@media (max-width: 940px) {
  .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.dropbtn {
  background-color: rgb(240, 240, 240);
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  margin-top: 5px;
  margin-left: 17px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 3px;
  background-color: #fff;
  min-width: 215px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content div {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.icon-button {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: #333333;
  background: #f3fbfb;
  border: none;
  outline: none;
  border-radius: 50%;
}

.titlename {
  font-size: "24px";
  color: "blue";
  width: "10%";
}

.nav_bar {
  padding: "1.2% 1.8% 1.8% 1.8%";
  background-color: "#fff";
  justify-content: "flex-start";
  display: "flex";
  color: "white";
  font-family: "Nunito";
  font-weight: "bold";
  font-size: 14;
  height: "75px";
  box-shadow: "0px 0px 7px 0px #888888";
}

.icon-button:hover {
  cursor: pointer;
}

.icon-button:active {
  background: #cccccc;
}

.icon-button__badge {
  position: absolute;
  top: -6px;
  right: -7px;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
